:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos bases*/
body{
    background: var(--preta);
    font-family: 'Arial Black', Times, serif;
    color: white;

}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*filme principal*/

.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/NetlixClone/img/capa-house.jpg'); 

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin: 40px;

}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 15px;
    margin-right: 10px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}
.filmes-principal .container{
    width: 70%;
}

.box-filmes{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.categoria{
    margin-top: 10px;
    margin-left: 10px;

}
.carrosel-filmes{
    margin-top:10px;
}

.carrosel-series{
    margin-top:8px;
}
.carrosel-animes{
    margin-top:8px;
}

.box-series{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.box-animes{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

/* PARA MENCIONAR TAG HTML NO CSS, VC DEVE APENAS 
O NOME DA TAG (HEADER) PARA TAG QUE FORAM CRIADAS
NECESSARIO COLOCAR PONTO E DEPOIS A TAG(.CONTAINER) */
